.buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem;
}
.buttons button {
	padding: 1rem;
	border: 1px solid #000;
	border-radius: 5px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.videoDetails {
	border: 2px black solid;
}
